# Environment variables - DO NOT COMMIT
.env

# Python virtual environment
venv/

# Downloaded Excel files
downloads/

# Python cache
__pycache__/
*.pyc

# Visual Studio / VS Code folder
.vs/

# logs and reports
logs/
reports/

# Ignore generated image files
*.png

# Ignore the entire VS Code folder
.vscode/

# Ignore Streamlit secrets and other sensitive files
.streamlit/secrets.toml

